.idea
target/
test-output/
*.iml

# logs (may contain important information)
/pay-invoices.log
/pay-invoices.log.*


## ============== I M P O R T A N T ==============
## Make sure personal info are not commited on git
## = = = = = = = = = = = = = = = = = = = = = = = =

src/test/resources/feature/invoice/all-invoices.feature
src/test/resources/bank-card.properties

## ===============================================

